
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');



* {

    margin: 0;

    padding: 0;

    box-sizing: border-box;

    text-decoration: none;

}



table{

    max-width: 1200px;

    margin: 0 auto;

    padding: 20px;

}



body {

    font-size: 100%;

    background: linear-gradient(68.15deg, #415338 16.62%, #a9bba3 85.61% );

}



main{

    max-width: 1200px;

    margin: 0 auto;

    padding: 20px;

}



header{

    max-width: 1200px;

    margin: 0 auto;

    padding: 20px 20px 0;

}



.cabecalho {

    display: flex;

    flex-direction: row;

    align-items: center;

    justify-content: space-around;

    padding: 24px;

}



.cabecalho-imagem {

    height: 70px;

}



.cabecalho-menu {

    display: flex;

    gap: 32px;

}



.cabecalho-menu-item {

    font-family: 'Itim';

    color: #ffffff;

    font-weight: 400;

    font-size: 20px;



}



.conteudo {

    margin-bottom: 48px;

    border-top: 0.4px solid #deddd9;

}



.conteudo-um{

    display: flex;

    flex-direction: column;

    gap: 32px;



}



.sessao-um{

    display: flex;

}



.conteudo-dois{

    display: flex;

    flex-direction: column;

    gap: 32px;

}



.conteudo-tres{

    display: flex;

    flex-direction: column;

    gap: 32px;

}



h1{

    font-family: 'Secular One';

    font-weight: 400;

    font-size: 40px;

    color: #deddd9;

    }



h2{

    font-family: 'Itim';

    color: #ffffff;

    font-weight: 400;

    font-size: 20px;

    }



    



.passo-a-passo{ 

    display: flex;

    flex-direction: row;

    align-items: left;

    justify-content: space-around;

    background-color: #deddd9;

}



    



.passo-a-passo-escrito{

    display: flex;

    flex-direction: column;

    align-items: left;

    justify-content: space-around;

    gap: 24px;

   }



    



    .passo-a-passo-titulo{



        font-family: 'Secular One';



        font-weight: 400;



        font-size: 40px;



        color: #deddd9;



        text-align: center;



       /* margin-left: 60px;

        margin-right: 50px;*/



    }



    



    .passo-a-passo-um{



        font-family: 'Secular One';



        font-weight: 400;



        font-size: 25px;



        color: #a9bba3;



       /* margin-left: 15px;

        margin-right: 50px;*/



    }



    



    .passo-a-passo-um-info{



        font-family: 'Itim';



        font-weight: 400;



        font-size: 15px;



        color: 415338; 



        /*margin-bottom: 20px;  */



    }



    



    .passo-a-passo-dois{



        font-family: 'Secular One';



        font-weight: 400;



        font-size: 25px;



        color: #a9bba3;



        /*margin-left: 15px;

        margin-right: 50px;*/



    }



    



    .passo-a-passo-dois-info{



        font-family: 'Itim';



        font-weight: 400;



        font-size: 15px;



        color: 415338;



       /* margin-bottom: 20px;   */



    }



    



    .passo-a-passo-tres{



        font-family: 'Secular One';



        font-weight: 400;



        font-size: 25px;



        color: #a9bba3;



      /*  margin-left: 15px;

        margin-right: 50px;*/



    }



    



    .passo-a-passo-tres-info{



        font-family: 'Itim';



        font-weight: 400;



        font-size: 15px;



        color: 415338; 



      /*  margin-bottom: 20px;  */



    }



    



    .passo-a-passo-quatro{



        font-family: 'Secular One';



        font-weight: 400;



        font-size: 25px;



        color: #a9bba3;



      /*  margin-left: 15px;

        margin-right: 50px;*/



    }



    



    .passo-a-passo-quatro-info{



        font-family: 'Itim';



        font-weight: 400;



        font-size: 15px;



        color: 415338;   



        /*margin-bottom: 20px;*/



    }



.conteudo-sessao-um-img{



    max-width: 20%;



    height: 360x;



    margin-right: 50px;



    margin-top: 25px;



}



.video{



    background-color: #a9bba3;



    padding: 20px;



    margin-left: 250px;



    margin-right: 250px;



    font-family: 'Itim';



}

.video-tutorial{



    background-color: #a9bba3;



    padding: 20px;



    margin-left: 250px;



    margin-right: 250px;



    font-family: 'Itim';



}


footer{



    background-color: #37492f;



}



.final-titulo{



    font-family: 'Secular One';



    font-weight: 400;



    font-size: 40px;



    color: #deddd9;



    margin-left: 15px;



    margin-right: 50px;



}



.final-referencias{



    display: flex;



    flex-direction: column;



    align-items: left;



    justify-content: space-around;



    gap: 24px;



    font-size: 15px;



    color: #deddd9;



}



.autor{



    display: flex;



    flex-direction: column;



    align-items: center;



    justify-content: space-around;



    gap: 24px;



    font-size: 15px;



    color: #deddd9;



}



@media only screen and (max-width:768px) {



    .conteudo,.conteudo-dois,.conteudo-tres,.conteudo-um,.sessao-um {

        margin-top: 50px;

        margin-left: 75px;

        margin-right: 75px;

    }



    .conteudo-sessao-um-img {

        align-items: center;

        max-width: 100%;

        margin-top: 50px;

     }



    .sessao-um,.conteudo-tres,.video, .passo-a-passo{

        display: inline-block;

        margin-left: -10%;

        margin-right: 10%;

    }



}



table {

    border-collapse: collapse;

}





th {

    padding: 25px;

    text-align: center;

}



td {

    padding: 25px;

}



.conceitos {

    font-size: 22;

}



*{

margin: 0;

}





#img1 {

z-index: 0;

}





#img2{

position: absolute;

z-index: 1;

width: 50px;

height: 50px;

left:80px; 

top: 80px;

}
    



    



        
    
    


        


